@model List<string>
@{
    ViewData["Title"] = "Resultado";
}
<h1>@ViewData["Title"]</h1>

<div>
    <h2>Valores recibidos del formulario:</h2>
    <ul>
    @foreach (var valor in Model)
    {
        <li>@valor</li>
    }
</ul>
</div>
